body{
	background-color: red;
}
.page7-img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	width: 50%;
    
}
.mytext-7{
	justify-content: center;
	text-align: center;
	color: white;
}